<style>
    tbody tr{
        text-transform: uppercase;
}
</style>
<div class="container p-4">

{{#if NoReservacion}}   
    <p>NO HAY ARTÍCULOS PRESTADOS</p>
    <a href="/devolverEquipos?id_usuario={{Id_Usuario}}" class="btn-sm back-btn"> <i class="fas fa-angle-double-left"></i>Volver</a>
    {{else}} 
    <a href="/prestamosPR" class="btn-sm back-btn"> <i class="fas fa-angle-double-left"></i>Volver</a>
    <h3 class="text-center mb-4">Devolver artículos</h3>
    <table class="table table-bordered table-sm">
        <thead class="thead-dark item-th">
            <tr>
            <th scope="col">Artículo</th>
            <th scope="col">Horario</th>
            <th scope="col">Estado</th>
            <th scope="col" colspan="2">Acciones</th>
            </tr>
        </thead>
        {{#each equipos}}
        <tbody>
            <tr>
            <td data-label="Equipo"><p class="card-title">{{Nombre}}</p></td>
            <td data-label="Descripción"><p class="card-text">{{Hora_Inicio}} {{Hora_Fin}}</p></td>
            <td data-label="Estado"><p class="card-text">{{Estado}}restado</p></td>
            <td>
                <form action="/devolverEquipo" method="POST" name="formDevolverID{{@index}}" id="formDevolverID{{@index}}">
                    <input type="hidden" value={{../Id_Usuario}} name="id_usuario">
                    <input type="hidden" value={{Id_Equipo}} name="id_equipo">
                    <input type="hidden" value={{Id_prestamo}} name="id_prestamo">
                    <input type="hidden" value={{fk_horarios}} name="fk_horarios">
                    <button type="submit" onclick="validacionDevolucion(event, {{@index}})" class="btn btn-primary">Devolver Artículo</button>
                </form>
            </td>
            <td>
                <form action="/cancelarPrestamoEquipo" method="POST" name="formCancelarID{{@index}}" id="formCancelarID{{@index}}">
                    <input type="hidden" value={{../Id_Usuario}} name="id_usuario">
                    <input type="hidden" value={{Id_Equipo}} name="id_equipo">
                    <input type="hidden" value={{Id_prestamo}} name="id_prestamo">
                    <input type="hidden" value={{fk_horarios}} name="fk_horarios">
                    <button type="submit" onclick="validacionCancelacion(event, {{@index}})" class="btn btn-danger">Cancelar Préstamo</button>
                </form>
            </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
{{/if}}
</div>


<script>
const validacionDevolucion = async (e, index) => {
    e.preventDefault();
    let form = document.getElementById(`formDevolverID${index}`);
    Swal.fire({
        title: '¿Estás seguro(a)?',
        text: "Devolver Artículo",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, devolver artículo',
        cancelButtonText: 'cancelar'
    }).then((result) => {
        if (result.isConfirmed) {
            form.submit();
        }
    })

}
const validacionCancelacion = async (e, index) => {
    e.preventDefault();
    let form = document.getElementById(`formCancelarID${index}`);

    Swal.fire({
        title: '¿Estás seguro(a)?',
        text: "Cancelar",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, cancelar préstamo',
        cancelButtonText: 'cancelar'
    }).then((result) => {
        if (result.isConfirmed) {
            form.submit();
        }
    })
}
</script>

